.loader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    z-index:1;
}

.loader Spinner {
    width: 3em;
    height: 3em;
    font-size: 3em;
    color: #9C254D;
}

.loader span {
    font-size: 1.5em;
    margin-top: 1em;
}