#image {
  border-radius: 50%;
  width: 150px;
  height: auto;
}

.modal-content {
  margin:auto;
}

@media (min-width: 768px) {
  .modal-content {
    width:90%!important;
    margin:auto;
  }
  .rows-container {
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
  }
  #image {
    width: 200px;
    height: auto;
  }
}

